# =========================
# Виртуальное окружение
# =========================
venv/
env/
.venv/

# =========================
# Секреты и конфигурация
# =========================
.env/

# =========================
# Кэш Python и временные файлы
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
.ipynb_checkpoints/

# =========================
# Логи и артефакты тестов (если появятся)
# =========================
*.log
reports/
test-reports/
.html
.xml
.allure

# =========================
# PyCharm (опционально — рекомендуется игнорировать)
# =========================
.idea/

# =========================
# Системные файлы Windows
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.tmp

# =========================
# Остальное
# =========================
.DS_Store